---
---

<nav class="bg-white p-4 text-center shadow-md">
  <a href="/" class="mx-2 font-bold text-indigo-600">Transforma tu Luz</a>
  <a href="/amor" class="mx-2">Amor</a>
  <a href="/dinero" class="mx-2">Dinero</a>
  <a href="/proposito" class="mx-2">Propósito</a>
  <a href="/contacto" class="mx-2">Contacto</a>
</nav>